@inject AccountsService _AccountsService
@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="Kroft.Web.styles.css" />
        <link rel="stylesheet" href="radzen-ext.css" />
        <link rel="stylesheet" href="app.css" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <RadzenTheme Theme="material" @rendermode="InteractiveServer"/>
        <HeadOutlet />
    </head>
    <body>
        <CascadingAuthenticationState>
            <Routes @rendermode="InteractiveServer"/>
        </CascadingAuthenticationState>
        <script src="_framework/blazor.web.js"></script>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.158.0/examples/js/controls/OrbitControls.js"></script>
        <script src="~/pointcloud.js"></script>
    </body>
</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    [Inject]
    private ThemeService ThemeService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HttpContext != null)
        {
            var theme = HttpContext.Request.Cookies["KroftTheme"];

            if (!string.IsNullOrEmpty(theme))
            {
                ThemeService.SetTheme(theme, false);
            }
        }
    }
}
