@page "/"
@implements IDisposable

<h1 class="text-center">Welcome to RoveSoPickNPlace</h1>


@code
{
    // Declare page member variables.

    // Flags.    

    protected override void OnInitialized()
    {
        // Do nothing yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        // Do nothing yet.
    }
}
